docling>=2.54.0
langchain>=0.3.27
langchain_community>=0.3.30
langchain_core>=0.3.77
langchain_google_genai>=2.1.12
langchain_huggingface>=0.3.1
langchain_ollama>=0.3.10
langchain_openai>=0.3.34
python-dotenv>=1.1.1
streamlit>=1.48.0
streamlit>=1.50.0
